.telalogin {
  position: absolute;
  top: 150px;
  left: 320px;
  background-color: rgba(255, 255, 255, 0.48);
  width: 800px;
  height: 600px;
}
.passwordrec {
  position: absolute;
  top: 594px;
  left: 595px;
  border-radius: 20px;
  background-color: #0bc5ea;
  width: 231px;
  height: 50px;
}
.entrarEmLivestream {
  position: absolute;
  top: 241px;
  left: 564px;
  font-weight: 600;
  display: inline-block;
  width: 340px;
  height: 40px;
}
.senha {
  position: absolute;
  top: 455px;
  left: 386px;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 150px;
  height: 30px;
}
.passwordrec1 {
  position: absolute;
  top: 485px;
  left: 411px;
  border-radius: 20px;
  background-color: #0bc5ea;
  width: 585px;
  height: 50px;
}
.usernamerec {
  position: absolute;
  top: 384px;
  left: 411px;
  border-radius: 20px;
  background-color: #0bc5ea;
  width: 585px;
  height: 50px;
}
.aindaNoPossui {
  position: absolute;
  top: 672px;
  left: 426px;
  font-weight: 600;
  display: inline-block;
  width: 655px;
  height: 38px;
}
.problemasParaEfetuar {
  position: absolute;
  top: 548px;
  left: 426px;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  width: 655px;
  height: 38px;
}
.usurio {
  position: absolute;
  top: 354px;
  left: 393px;
  font-size: 23px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 30px;
}
.entrar {
  position: absolute;
  top: 599px;
  left: 667px;
  font-weight: 600;
  color: #fff;
  display: inline-block;
  width: 250px;
  height: 40px;
}
.fire1Icon {
  position: absolute;
  top: 245px;
  left: 517px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.page1 {
  width: 100%;
  position: relative;
  background-color: #000;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: 30px;
  color: #0bc5ea;
  font-family: 'Plus Jakarta Sans';
}

