.formContainer {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centraliza o conteúdo */
}
.formGroup {
  margin-bottom: 15px;
}
.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.submitButton {
  background-color: #0070f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.submitButton:hover {
  background-color: #005bb5;
}