.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  .container {
    background-color: rgba(128, 128, 128, 0.8); /* Cor de fundo cinza com transparência */
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    text-align: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: #0bc5ea;
    margin-bottom: 20px;
  }
  
  .inputField {
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color: #0bc5ea;
    color: #fff;
    font-size: 18px;
  }
  
  .resetButton {
    background-color: #0bc5ea;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    margin-bottom: 10px;
  }
  
  .success {
    color: green;
    margin-bottom: 10px;
  }
  
  .backToLogin {
    font-size: 14px;
  }
  
  .backToLogin a {
    color: #0bc5ea;
    text-decoration: none;
  }
  