.telacreate {
    position: absolute;
    top: 212px;
    left: 520px;
    background-color: #0c0435;
    width: 400px;
    height: 600px;
}
.email {
    position: absolute;
    top: 407px;
    left: 576px;
    text-align: left;
    display: flex;
    align-items: center;
    width: 150px;
    height: 30px;
}
.password {
    margin: 0;
}
.password2 {
    position: absolute;
    top: 611px;
    left: 565px;
    display: inline-block;
    width: 150px;
    height: 30px;
}
.passwordrec {
    position: absolute;
    top: 542px;
    left: 570px;
    border-radius: 20px;
    background-color: #d9d9d9;
    width: 300px;
    height: 50px;
}
.emailrec {
    position: absolute;
    top: 437px;
    left: 570px;
    border-radius: 20px;
    background-color: #d9d9d9;
    width: 300px;
    height: 50px;
}
.password1 {
    position: absolute;
    top: 512px;
    left: 565px;
    display: inline-block;
    width: 150px;
    height: 30px;
}
.password2rec {
    position: absolute;
    top: 641px;
    left: 570px;
    border-radius: 20px;
    background-color: #d9d9d9;
    width: 300px;
    height: 50px;
}
.usernamerec {
    position: absolute;
    top: 332px;
    left: 570px;
    border-radius: 20px;
    background-color: #d9d9d9;
    width: 300px;
    height: 50px;
}
.createUser {
    position: absolute;
    top: 740px;
    left: 595px;
    font-size: 30px;
    display: inline-block;
    width: 250px;
    height: 40px;
}
.username {
    position: absolute;
    top: 302px;
    left: 565px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 30px;
}
.page2 {
    width: 100%;
    position: relative;
    background-color: #000;
    height: 1024px;
    overflow: hidden;
    text-align: center;
    font-size: 23px;
    color: #fff;
    font-family: Inter;
}

