/* Estilização geral */
.signUp {
  width: 100%;
  height: 100vh; /* Altura total da tela */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

/* Estilização da imagem de fundo */
.image {
  width: 50%; /* Metade da tela */
  height: 100%; /* Altura total da tela */
  background-image: url('../../../publics/assets/image2.png'); /* Caminho da sua imagem */
  background-size: cover;
  background-position: center;
}

/* Estilização do formulário */
.frameParent {
  width: 50%;
  padding: 64px;
  background-color: #080808;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza verticalmente */
  align-items: center;
  gap: 24px;
}

/* Estilização dos textos e ícones do formulário */
.boldDuotoneFacesEmotionsParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  text-align: center;
  font-size: 24px;
}

.crieSuaConta {
  font-size: 24px;
  color: #ffffff;
  font-weight: 600;
}

.entreComSeu {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.64);
  line-height: 1.5;
}

/* Estilização dos campos de entrada */
.usurioParent {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.userParent {
  width: 100%;
  padding: 16px;
  background-color: #171923;
  border: 1px solid #2d3748;
  border-radius: 8px;
  color: #a0aec0;
  display: flex;
  align-items: center;
  gap: 12px;
}

.userIcon {
  width: 20px;
  height: 20px;
}

.digiteSeuNome {
  flex-grow: 1;
  background: none;
  border: none;
  color: #a0aec0;
  outline: none;
}

/* Botão Criar Conta */
.criarContaWrapper {
  width: 100%;
  background-color: #00b5d8;
  padding: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}

/* Link "Já possuo uma conta" */
.jPossuoUma {
  color: #0bc5ea;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
