.page1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
  }
  
  .telalogin {
    background-color: rgba(128, 128, 128, 0.8); /* Cor de fundo cinza com transparência */
    width: 600px;
    height: 500px;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cadastrarUsuario {
    font-weight: 600;
    font-size: 24px;
    color: #0bc5ea;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: none;
    background-color: #0bc5ea;
    color: #fff;
    font-size: 18px;
  }
  
  .cadastrar {
    background-color: #0bc5ea;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }

  .backToLogin a {
    display: inline-block;
    color: #00BFFF; /* Cor azul */
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #00BFFF; /* Borda azul */
    border-radius: 10px; /* Arredonda a borda */
    margin-top: 10px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; /* Adiciona efeito ao passar o mouse */
  }
  
  .backToLogin a:hover {
    background-color: #00BFFF; /* Fundo azul ao passar o mouse */
    color: white; /* Texto branco ao passar o mouse */
  }
  